/**
 * @name zephsoftware's theme
 * @author zeph's workshop
 * @version 6.3.0
 * @description 
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website 
 * @invite 
 * @BDEditor 
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

:root {
  --main-color: #144073;
  --hover-color: #0076FF;
  --success-color: #056D3E;
  --danger-color: #FF0000;
  --url-color: #2808AE;
  --background-image: url('https://tr.rbxcdn.com/5d8db406e5d494182db66ceda5b0bc22/768/432/Image/Png');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: transparent;
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://tr.rbxcdn.com/f0c169e20ce4a8d1299a0ca3055b9975/352/352/Avatar/Png');
  --user-modal-position: center right;
  --user-modal-size: auto;
  --user-modal-repeat: repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 7px;
  --home-icon: url('https://i.imgur.com/Jf4JHK2.png');
  --home-position: top center;
  --home-size: 40px;
  --channel-unread: #0D0C69;
  --channel-color: rgb(0,28,255,1);
  --muted-color: rgb(255,5,5,1);
  --online-color: #1687F2;
  --idle-color: #E8FF00;
  --dnd-color: #3F51B5;
  --streaming-color: #220554;
  --offline-color: #000000;
  --main-font: Inconsolata;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 0%;
  --rs-online-color: #005FFF;
  --rs-idle-color: #E8FF00;
  --rs-dnd-color: #0C0280;
  --rs-offline-color: #000000;
  --rs-streaming-color: #280466;
  --rs-phone-visible: block;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


